/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body
    {
        color: #5a5a5a;
        padding: 0px;
    }







/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper
    {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          z-index: 20;
    }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container
     {
          padding-right: 0;
          padding-left: 0;
        }
    .navbar-wrapper .navbar
        {
          padding-right: 15px;
          padding-left: 15px;
        }
      .navbar-wrapper .navbar .container { width: auto;}






/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel { height: 400px; margin-top:50px;  margin-bottom: 0px;}
/* Since positioning the image, we need to help out the caption */
    .carousel-caption { z-index: 10; }

/* Declare heights because of positioning of img element */
        .carousel .item { height: 400px; background-color: #777; }
            .carousel-inner > .item > img
                {
                    position: relative;
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    height: 400px;
					overflow: hidden;
                }





/* MARKETING CONTENT
-------------------------------------------------- */
/*keeping little gap between caroul and marketing*/
.marketing { margin-top: 7px;}
.mkt { padding-top: 5px; padding-bottom: 5px; border-left: 2px solid white; border-radius: 15px;}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 { margin-top: 5px; text-align: center; }
.marketing h2 {font-weight: normal; }
    .marketing .col-lg-4 p { margin-right: 10px; margin-left: 10px; }




/* Features for service page
------------------------- */
.service { margin-top: 50px; border-top-left-radius: 15px; border-top-right-radius: 15px;}
.feature-divider
    {
         margin-top: 20px 0; /* Space out the Bootstrap <hr> more */
    }

 .feature-image { border-radius: 6px; box-shadow: 2px 3px #777766;}
.feature-heading
    {
        font-weight: 200;
        line-height: 1;
        letter-spacing: -1px;
    }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .feature-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .feature-heading {
    margin-top: 120px;
  }
}


/********* google map resposive layout ***************/
    .google-maps {
    position: relative;
    padding-bottom: 20%; // This is the aspect ratio
    height: 0px;
    overflow: hidden;
    }
    .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }



/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; opacity: 0.80;}
    .footer1 a { color: #ccc; }
        .footer1 a:hover {color: #fff; }
    .footer1 .widget { margin-bottom:30px; }
    .footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
    .footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
        .footer1 .entry-meta a { color: #333333; }
        .footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
    .follow-me-icons { font-size:30px; }
        .follow-me-icons i { float:left; margin:0 10px 0 0; }

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; opacity: 0.80; }
    .footer2 a { color: #aaa; }
        .footer2 a:hover { color: #fff; }
        .footer2 p { margin: 0; }

    .widget-simplenav { margin-left:-5px; }
    .widget-simplenav a{ margin:0 5px; }
